# VISUAL ANALYTICS#
## Lab Project ##
WS 2018


### GROUP: team0 ###
#### group members: ####
Marvin Hengster, k015555357 <br>
Christian Mayrhofer, k01555863

### The dataset:###
"BOSTON - CRIME INCIDENT REPORTS"<br>
https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system <br>
(downloaded: 2019-01-01)

##### imports:####

In [3]:
import numpy as np
import pandas as pd
#disable some annoying warnings
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

#plots the figures in place instead of a new window
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns

-----------------------------------------------
## LOADING AND WRANGLING THE DATASET

##### importing...

In [51]:
crime = pd.read_csv('crime.csv', encoding = "latin1")

##### taking a look at the data(-set)

In [22]:
crime.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'STREET', 'Lat', 'Long', 'Location'],
      dtype='object')

In [23]:
crime.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182105251,613,Larceny,LARCENY SHOPLIFTING,A1,102,NaN,2018-12-31 21:16:00,2018,12,Monday,21,Part One,WINTER ST,42.356024,-71.061776,"(42.35602373, -71.06177615)"
1,I182105250,2647,Other,THREATS TO DO BODILY HARM,E18,502,NaN,2018-12-31 21:00:00,2018,12,Monday,21,Part Two,BYRD AVE,42.285708,-71.114583,"(42.28570817, -71.11458324)"
2,I182105246,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,D4,273,NaN,2018-12-31 21:09:00,2018,12,Monday,21,Part Three,NORTHAMPTON ST,42.336196,-71.077870,"(42.33619626, -71.07787036)"
3,I182105245,3201,Property Lost,PROPERTY - LOST,C6,186,NaN,2018-12-31 14:00:00,2018,12,Monday,14,Part Three,MASSACHUSETTS AVE,42.325538,-71.065796,"(42.32553801, -71.06579592)"
4,I182105242,619,Larceny,LARCENY ALL OTHERS,C6,220,NaN,2018-12-20 14:00:00,2018,12,Thursday,14,Part One,DORCHESTER ST,42.334829,-71.047050,"(42.33482917, -71.04705015)"

##### make the "INDCIDENT_NUMBER" the primary key

In [37]:
crime.index = crime.pop('INCIDENT_NUMBER')

##### since we have mostly categorical data and less continuous data, the "describe" function does not tell us very much interesting stuff
The only interesting one could be the hour and the month.<br>
It tells us *when* the incident occurred.

In [40]:
crime.describe()

,OFFENSE_CODE,YEAR,MONTH,HOUR,Lat,Long
count,350784.000000,350784.000000,350784.000000,350784.000000,328787.000000,328787.000000
mean,2320.336880,2016.689895,6.946754,13.108825,42.210274,-70.901698
std,1185.046792,1.035665,3.323920,6.289607,2.200125,3.558916
min,111.000000,2015.000000,1.000000,0.000000,-1.000000,-71.178674
25%,1001.000000,2016.000000,4.000000,9.000000,42.297466,-71.097172
50%,2907.000000,2017.000000,7.000000,14.000000,42.325552,-71.077526
75%,3201.000000,2018.000000,10.000000,18.000000,42.348624,-71.062498
max,3831.000000,2018.000000,12.000000,23.000000,42.395042,-1.000000

The median of the hour, e.g., tells us that most of the incidents occurred in the second half of the day.<br>
(Crime incidents usually take place at the evening/night)

In [43]:
crime.sort_values('OCCURRED_ON_DATE').head()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
INCIDENT_NUMBER,,,,,,,,,,,,,,,,
I162013546,3201,Property Lost,PROPERTY - LOST,B3,433,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,NORFOLK ST,42.283634,-71.082813,"(42.28363434, -71.08281320)"
I152051083,3130,Search Warrants,SEARCH WARRANT,A7,20,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,PARIS ST,42.377023,-71.032247,"(42.37702319, -71.03224730)"
I152054279,1106,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,B3,456,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Two,HARLEM ST,42.300217,-71.080979,"(42.30021684, -71.08097940)"
I152051083,3115,Investigate Person,INVESTIGATE PERSON,A7,20,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,PARIS ST,42.377023,-71.032247,"(42.37702319, -71.03224730)"
I152059178,2647,Other,THREATS TO DO BODILY HARM,C11,359,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Two,WASHINGTON ST,42.293606,-71.071887,"(42.29360585, -71.07188650)"

##### only consider data from 2017
because of several reasons: <br>
* dataset is huge ( > 60 MB)
* data from 2015 is not complete (starts at august 2015)
* data from 2018 might not be complete (data is inserted a few days/weeks/months after the incident)

In [50]:
crime = crime[crime.YEAR == 2017]

##### NULL values
There are rows with no value at the column "SHOOTING".<br>
All the rows, where data exists, contain the letter "Y" for "yes"/true/positive.<br>
All the other rows should contain the letter "N" for no/false/negative for incidents, where no shooting has occurred.

In [54]:
crime['SHOOTING'].isnull().head()

0    True
1    True
2    True
3    True
4    True
Name: SHOOTING, dtype: bool

so we set "N" for the cells with no values...

In [56]:
crime['SHOOTING'].fillna('N').head()

0    N
1    N
2    N
3    N
4    N
Name: SHOOTING, dtype: object